<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 <web-app>
 <display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.railway.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.railway.LoginServlet</servlet-class>
	</servlet>
 <servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	 <servlet>
		<servlet-name>AdminRegister</servlet-name>
		<servlet-class>com.railway.admin.AdminRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminRegister</servlet-name>
		<url-pattern>/AdminRegister</url-pattern>
	</servlet-mapping> 
		<servlet>
	<servlet-name>AddToFavoritesServlet</servlet-name>
	<servlet-class>com.railway.AddToFavoritesServlet</servlet-class>
	</servlet>
		<servlet-mapping>
	<servlet-name>AddToFavoritesServlet</servlet-name>
	<url-pattern>/AddToFavoritesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FavoriteStationsServlet</servlet-name>
		<display-name>FavoriteStationsServlet</display-name>
		<description></description>
		<servlet-class>com.railway.FavoriteStationsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<display-name>AdminLoginServlet</display-name>
		<description></description>
		<servlet-class>com.railway.admin.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddStationServlet</servlet-name>
		<display-name>AddStationServlet</display-name>
		<description></description>
		<servlet-class>com.railway.admin.AddStationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteStationServlet</servlet-name>
		<display-name>DeleteStationServlet</display-name>
		<description></description>
		<servlet-class>com.railway.admin.DeleteStationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FavoriteStationsServlet</servlet-name>
		<url-pattern>/FavoriteStationsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/AdminLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStationServlet</servlet-name>
		<url-pattern>/AddStationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStationServlet</servlet-name>
		<url-pattern>/DeleteStationServlet</url-pattern>
	</servlet-mapping>
 </web-app>